body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #29344f;
}

.top-container-1 {
	padding: 0 170px 50px 170px;
	background: url("../img/home page.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.top-container-2 {
	padding: 0 170px 50px 170px;
	background: url("../img/fasilitas page.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.top-container-3 {
	padding: 0 170px 50px 170px;
	background: url("../img/rooms page.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.top-container-4 {
	padding: 0 170px 50px 170px;
	background-color: #29344f;
	background-size: 100%;
	background-repeat: no-repeat;
}

.top-container-top {
}

.top-container-middle {
	padding-top: 150px;
	color: #ffffff;
	line-height: 80px;
}

.top-container-middle h1 {
	font-size: 125px;
	margin: 0;
}

.top-container-middle h2 {
	margin: 0;
	/*border: 2px solid red;*/
	font-size: 50px;
}

.top-container-middle h3 {
	font-family: Merriweather;
	letter-spacing: 5px;
	font-weight: normal;
	line-height: 25px;
}

.top-container-bottom {
	margin-top: 100px;
}

.hotels {
	letter-spacing: 10px;
}

.welcome {
	font-family: montserrat;
	font-weight: normal;
}

.header {
	width: 10%;
	line-height: 0px;
	letter-spacing: 5px;
	text-align: center;
	padding: 20px 40px 20px 40px;
	border-radius: 0 0 35px 35px;
	background-color: #e0b973;
	float: left;
}

.header h5 {
	padding-left: 15px;
}

.nav {
	display: flex;
	flex: nowrap;
	float: right;
}


.nav a {
	text-decoration: none;
	color: #ffffff;
	font-family: montserrat;
	margin-left: 80px;
}

.nav a p {
	font-size: 20px;
}

.nav a.selected p, #nav a.selected:link p, a.selected:active p {
	font-weight: 600;
	border-bottom: 2px solid #ffffff;
	/* underline nya diganti border-bottom biar ga langsung nempel ke text nya */	
}

.top-container-bottom {
	width: 50%;
	display: flex;
	justify-content: center;
}

.button {
	margin-bottom: 150px;
	background-color: #e2bc74;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 3em;
	text-decoration: none;
}

.button:active p {
	position: relative;
	top: 1px;
	text-decoration: underline;
}

.middle-container {
	padding: 100px 200px 100px 200px;
}

.middle-container-title {
	text-align: center;
	font-family: montserrat;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
	margin-bottom: 80px;
}

.button2 {
	margin: 0px 30px 0px 30px;
	background-color: #e2bc74;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 40px;
	text-decoration: none;
}

.button2:active p {
	position: relative;
	top: 1px;
	text-decoration: underline;
}

.middle-title {
	margin-top: 20px
	margin-bottom: 20px;
}

.text-container {
	border-left: 2px solid #29344f;
	margin-bottom: 70px;
}

.middle-title h3{
	padding: 15px 30px 15px 30px;
	width: 35%;
	font-size: 40px;
}

.middle-title h4 {
	padding: 15px 30px 15px 30px;
	width: 35%;
	font-family: montserrat;
	font-size: 20px;
	line-height: 30px;
	font-weight: lighter;
}

.luxury-img, .leave-your-worries-img {
	float: right;
  	max-width: 55%;
  	height: auto;
}

.testimonials {
	text-align: center;
}

.testimonials h2 {
	font-size: 50px;
}

.testimonials h3 {
	font-size: 25px;
	font-family: montserrat;
	font-weight: normal;
}

.testimonials p {
	font-size: 20px;
	font-family: montserrat;
}

.button3 {
	background-color: #e2bc74;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 30px;
	text-decoration: none;
	margin: 20px 10px;
}

.button3 a {
	margin: 0;
}

.button3:active p {
	position: relative;
	top: 1px;
}

.flex-row-1, .flex-row-2 {
	padding: 20px 200px 0px 200px;
	background-color: #29344f;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: #ffffff;
}

.flex-row-2 {
	font-family: montserrat;
}

.items2, .items3 {
	font-family: montserrat;
}

.info {
	margin-top: 50px;
	line-height: 5px;
	font-family: montserrat;
}

.flex-row-2 {
	padding-bottom: 20px;
	color: #e2bb74;
}

.flex-row-2 a {
	color: #e2bb74;
	text-decoration: none;
}

.flex-row-2 a:active {
	text-decoration: underline;
}

.flex-row-1 a {
	text-decoration: none;
	color: #ffffff;
}

.flex-row-1 a:hover {
	text-decoration: underline;
}

.name {
	line-height: 0px;
	letter-spacing: 5px;
	text-align: center;
}

.text-container-title h2 {
	text-align: center;
	font-size: 50px;
	letter-spacing: 2px;
}

.text-container-title p {
	text-align: center;
	font-family: montserrat;
	line-height: 25px;
	font-size: 20px;
}

.text-container-title-2 h2 {
	font-size: 40px;
	letter-spacing: 2px;
	margin: 0;
}

.text-container-title-2 p {
	font-family: montserrat;
	font-size: 20px;
}

.facilities-image {
	position: relative;
	margin-top: 80px;
	margin-bottom: 100px;
}

.facilities-image img {
	max-width: 100%;
	height: auto;
}

.facilities-text-block {
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #ffffff;
	width: 400px;
	padding: 10px 0;
}

.facilities-text-block h3 {
	margin: 0;
	font-size: 35px;
	font-family: montserrat;
	text-align: center;
}

.rooms-image {
	margin-top: 80px;
	margin-bottom: 150px;
	border-right: 1.75px solid #29344f;
	border-bottom: 1.75px solid #29344f;
	border-radius: 0 0 10px 10px;
}

.rooms-image img {
	max-width: 100%;
	height: auto;
}

.rooms-text-block {
	color: #ffffff;
	width: 100%;
	padding: 30px 0;
	margin-top: -5px;
	background-color: #29344f;
	letter-spacing: 2px;
}

.rooms-text-block h3 {
	margin: 0;
	font-size: 30px;
	font-family: montserrat;
	text-align: center;
}

.rooms-detail {
	padding: 80px 100px;
}

.rooms-detail p {
	display: inline;
	font-family: montserrat;
	font-weight: bold;
}

.button4 {
	background-color :#e2bc74;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	color: #29344f;
	font-family: Arial;
	font-size: 40px;
	width: 10px;
	height: 10px;
	padding: 10px 10px;
	text-decoration: none;
}

.button4:hover {
	background-color: #4F4F4B;
}

.button4:active {
	position: relative;
	top: 1px;
}

.button5 {
	float: right;
	margin-bottom: 150px;
	background-color: #e2bc74;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: montserrat;
	padding: 1em 2.5em;
	text-decoration: none;
}

.button5:active p {
	position: relative;
	top: 1px;
	text-decoration: underline;
}

.contact-us {
	text-align: center;
	font-family: montserrat;
}

.contact {
	display: flex;
	margin-top: 100px;
	justify-content: space-between;
	font-family: montserrat;
}

.contact-info {
	line-height: 15px;
	font-size: 25px;
}

.contact-info a {
	text-decoration: none;
	color: #29344f;
	display: inline-block;
	font-weight: bolder;
}

.contact-info a:hover {
	text-decoration: underline;
}

.form label {
	font-size: 20px;
}

.form input, .form textarea {
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 2px solid #e0b973;
	font-family: montserrat;
}

.form input[type=submit] {
	float: right;
	background-color: #e0b973;
	color: white;
	border: none;
	padding: 15px 25px;
	text-decoration: none;
	cursor: pointer;
	font-family: montserrat;
	border-radius: 5px;
	border: 2px solid #e0b973;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 18px;
}

.form input[type=text]:focus, .form input[type=email]:focus {
	background-color: lightblue;
}

.form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #4F4F4B;
	opacity: 1; /* Firefox */
}

.form :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #4F4F4B;
}

.form ::-ms-input-placeholder { /* Microsoft Edge */
	color: #4F4F4B;
}